<body class="home">
  <div id="home-text">
    <div class="container">

      <h1>Welcome to Fruity Time</h1>

      <h2>Here's the Deal:</h2>

      <h4>1. Sign Up</h4>
      <h4>2. List Items to Trade</h4>
      <h4>3. Search for Items</h4>
      <h4>4. Get Fruity</h4>
    </div>
  </div>
</div>
