<div id="words">
  <h1>YOYOYOYOYOYOYOYOYOYOYOYO</h1>
</div>


<ul id="each_post">
  <% @posts.each do |post| %>
   <%= link_to "#{post.title}", post_path(post) %>
   <br>
  <% end %>
</ul>



<div id="link_container">
  <%= link_to "say something", new_post_path, :id => "new_post_link", :remote => true %>
</div>
